body {
    background-image: linear-gradient(#00d0ff, #ed8907);
    height: 100%;
    width: 100%;
    background-repeat: repeat-x;
    background-size: 100vh 100vh;
    top: 0;
    position: fixed;
    color: white;
    font-size: large;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.tableButton {
    border-radius: 5px;
    background-color: white;
    color: black;
    border: none;
    margin: 5px;
    width: 25px;
    height: 25px;
    line-height: 15px;
}

.navbar-toggler {
    margin-top: 4px;
    margin-bottom: 4px;
}

.profile-img {
    border-radius: 50%;
    height: 275px;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 1rem;
    object-fit: cover;
    object-position: 0% 45%;
}

.presentation-card {
    display: flex;
    justify-content: center;
}

.inherit-bg {
    background-color: inherit;
    color: white
}

.icons {
    width: 2rem;
    height: 2rem;
    object-position: 0% 20%;
    filter: invert(1);
}

.navbar-color {
    background-image: linear-gradient(90deg, #011175 50%, #ed8907);
}

.footer {
    text-align: right;
    padding-right: 1rem;
}

@media (min-width: 992px) {
    .right {
        float: right;
    }

    .navbar-nav {
        overflow: initial;
    }

    .icons:hover {
        filter: invert(0);
        transition-duration: 0.5s;
    }

    .tableButton:hover {
        background-color:lightgray;
        color: white;
        transition-duration: 0.2s;
    }

    .nav-link {
        width: max-content;
    }
}